<a href="https://colab.research.google.com/github/anferivera/Programming/blob/main/1_1_overview_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Based in Diego Restrepo y Sebastian Bustamante notebooks. https://github.com/restrepo/ComputationalMethods

<div style="float: right;" markdown="1">
    <img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png">
</div>

PYTHON
==

Python is an interpreted programming language oriented to easy-readable coding, unlike compiled languages like C/C++ and Fortran, where the syntax usually does not favor the readability. This feature makes Python very interesting when we want to focus on something different than the program structure itself, e.g. on Computational Methods, thereby allowing to optimize our time, to debug syntax errors easily, etc.


[Official page](https://www.python.org/)

[Wikipedia](http://en.wikipedia.org/wiki/Python_(programming_language))


Python Philosophy
--
1. Beautiful is better than ugly.
2. Explicit is better than implicit.
3. Simple is better than complex.
4. Complex is better than complicated.
5. Flat is better than nested.
6. Sparse is better than dense.
7. Readability counts.
8. Special cases aren't special enough to break the rules. (Although practicality beats purity)
9. Errors should never pass silently. (Unless explicitly silenced)
10. In the face of ambiguity, refuse the temptation to guess.
11. There should be one-- and preferably only one --obvious way to do it. (Although that way may not be obvious at first unless you're Dutch)
12. Now is better than never. (Although never is often better than right now)
13. If the implementation is hard to explain, it's a bad idea.
14. If the implementation is easy to explain, it may be a good idea.
15. NameSpaces are one honking great idea -- let's do more of those!

- - -

- [Hello World!](#Hello-World!)
- [Arithmetics](#Arithmetics)
- [Lists, Tuples and Dictionaries](#Lists,-Tuples-and-Dictionaries)
- [Bucles and Conditionals](#Bucles-and-Conditionals)
- [Functions](#Functions)

- - -

# Hello World!

In [ ]:
print('Hello World!')

Hello World!

And also allows scripting: *(This code should be copied on a file 'hello.py')*

In [ ]:
#! /usr/bin/python

#This is a comment
print('Hello World!')

Hello World!

# Arithmetics

## Sum

In [ ]:
5.89+4.89+2

12.78

## Multiplication

In [ ]:
120*4.5

540.0

## **Division**

In [ ]:
100/3

33.333333333333336

In [ ]:
100/3.

33.333333333333336

## **Power**

In [ ]:
2**3

8

## **Module**

In [ ]:
10%2

0

In [ ]:
20%3

2

## **Scientific notation**

In [ ]:
(1.0e24/3. + 2.9e23)/1e-2

6.233333333333333e+25

In [ ]:
2.1e-5

2.1e-05

# Lists, Tuples and Dictionaries

## Lists

Lists are useful when you want to store and manipulate a set of elements (even of different types).

In [ ]:
#A list is declared using [] and may content different type of objects
lista = ["abc", 42, 3.1415]
print(lista)

['abc', 42, 3.1415]

In [ ]:
#First element of the list
lista[2]

3.1415

In [ ]:
#Last element of the list
lista[-1]

3.1415

In [ ]:
#Adding a new element (boolean element)
lista.append('otro')
print(lista)

['abc', 42, 3.1415, 'otro']

In [ ]:
#Inserting a new second element
lista.insert(1, "I am second")
print(lista)

['abc', 'I am second', 42, 3.1415, 'otro']

In [ ]:
#Deleting the third element of the list
del lista[3]
print(lista)

['abc', 'I am second', 42, 'otro']

In [ ]:
#Reassign the first element of the list
lista[0] = "xyz"
print(lista)

['xyz', 'I am second', 42, 'otro']

In [ ]:
#Showing the elements from 0 to 2
lista[0:3]

['xyz', 'I am second', 42]

In [ ]:
#Showing elements two by two
lista[::2]

['xyz', 42]

In [ ]:
#It is possible to embed a list
embedded_list = [lista, [True, 43]]
print(embedded_list)

[['xyz', 'I am second', 42, 'otro'], [True, 43]]

In [ ]:
#Second element of the first list
embedded_list[0][1]

'I am second'

In [ ]:
#A matrix as a list of embedded lists
A = [ [1,2], [3,4] ]
print(A)

[[1, 2], [3, 4]]

In [ ]:
#(sum list) When two list are added, the result is a new concatenated list
[1,2,"ab",True,[1,2]] + [3.1415,"Pi","circle"]

[1, 2, 'ab', True, [1, 2], 3.1415, 'Pi', 'circle']

## Tuples

A tuple is almost equal to a list, except that once declared its elements, it is not possible to modify them. Therefore, tuples are useful when you only want to store some elements but not modify them.

In [ ]:
#A tuple is declared using ()
tupla = ("abc", 42, 3.1415)
print(tupla)

('abc', 42, 3.1415)

In [ ]:
#Second
tupla[1]

42

In [ ]:
#It is not possible to add more elements
tupla.append("xy")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#It is not possible to delete an element
del tupla[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
#It is not possible to modify an existing element
tupla[0] = "xy"

TypeError: 'tuple' object does not support item assignment

## Dictionaries

Dictionaries are extremely useful when manipulating complex data.

In [ ]:
#A dictionary is declared using {}, and specifying the name of the component, then the character : followed by the element to store.

dictionary = { "Colombia":"Bogota", "Argentina":"Buenos Aires", "Bolivia":"La Paz", "Francia":"París", "Alemania":"Berlin" }
#
print(dictionary)
#Note the order in a dictionary does not matter as one identifies a single element through a string, not a number

{'Colombia': 'Bogota', 'Argentina': 'Buenos Aires', 'Bolivia': 'La Paz', 'Francia': 'París', 'Alemania': 'Berlin'}

In [ ]:
#Instead of a number, an element of a dictionary is accessed with the name of the component
print(dictionary["Colombia"])
print(dictionary["Alemania"])

Bogota
Berlin

In [ ]:
#The elements of the dictionary may be of any type
dictionary2 = { "Enteros":[1,2,3,4,5], "Ciudad":"Medellin", "Cedula":1128400433, "Colores":["Amarillo", "Azul", "Rojo"] }
print(dictionary2["Colores"][1])

Azul

In [ ]:
#The elements of the dictionary can be modified only by changing directly such an element
dictionary2["Ciudad"] = "Bogota"
print(dictionary2)

{'Enteros': [1, 2, 3, 4, 5], 'Ciudad': 'Bogota', 'Cedula': 1128400433, 'Colores': ['Amarillo', 'Azul', 'Rojo']}

In [ ]:
#Adding a new element is possible by only defining the new component
dictionary2["Pais"] = "Colombia"
print(dictionary2)

{'Enteros': [1, 2, 3, 4, 5], 'Ciudad': 'Bogota', 'Cedula': 1128400433, 'Colores': ['Amarillo', 'Azul', 'Rojo'], 'Pais': 'Colombia'}

In [ ]:
#The command del can be also used for deleting an element, as a list
del dictionary2["Colores"]
print(dictionary2)

{'Enteros': [1, 2, 3, 4, 5], 'Ciudad': 'Bogota', 'Cedula': 1128400433, 'Pais': 'Colombia'}

# Bucles and Conditionals

## if

Conditionals are useful when we want to check some condition.
The statements `elif` and `else` can be used when more than one condition is possible or when there is something to do when condition is not fulfilled.

In [ ]:
x = 10
y = 2
if x > 5 and y==2:
    print("True")

True

In [ ]:
x = 5
y = 3
if x>5 or y<2:
    print("True 1")
elif x==4:
    print("True 2")
else:
    print("False")

False

## for

`For` cycles are specially useful when we want to sweep a set of elements with a known size.

In [ ]:
lista = [1,3,4,5,7]

for i in lista:
  print(i)

1
3
4
5
7

In [ ]:
for j in range(0,5):
  print(j)

0
1
2
3
4

In [ ]:
#Change size oof the step
for i in range(0,7,2):
    print(i, i**2)

0 0
2 4
4 16
6 36

In [ ]:
suma = 0
for i in range(0,10):
    suma += i**2
print("The result is %d" %suma)
print("The result is",suma)

The result is 285
The result is 285

In [ ]:
for language in ['Python', 'C', 'C++', 'Ruby', 'Java']:
    print(language)

Python
C
C++
Ruby
Java

In [ ]:
serie = [ i**2 for i in range(1,10) ]
print( serie )

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## while

`While` cycles are specially useful when we want to sweep a set of elements with an  unknown size.

In [ ]:
#! /usr/bin/python

numero = int(input("Write a positive number: "))
while numero < 0:
    print("You wrote a negative number. Do it again")
    numero = int(input("Write a positive number: "))
print("Thank you!")

Write a positive number: -3
You wrote a negative number. Do it again
Write a positive number: -5
You wrote a negative number. Do it again
Write a positive number: 0
Thank you!

In [ ]:
from numpy.random import random
x = 0
while x<0.7:
    x = random()
    print(x)
print("The selected number was", x)

0.6618597400439469
0.24701906386499617
0.13796137473702197
0.11567886616789402
0.7943054892338046
The selected number was 0.7943054892338046

# Functions

## **Explicit functions**

In [ ]:
#Defino nombre
def xcuadrado(x):
  #el x lo eleva al cuadrado
  f = x**2
  #retorno cuadrado
  return f

In [ ]:
xcuadrado(3)

9

In [ ]:
def f(x,y):
    return x*y

f(3,2)

6

In [ ]:
#It is possible to assign default arguments
def f(x,y=2):
    return x*y

print(f(2,10))

#When evaluating, we can omit the default argument
f(3)

20

6

In [ ]:
#It is possible to specify explicitly the order of the arguments
def f(x,y):
    return x**y

print('f(1,2)=',f(1,2))
print('f(2,1)=',f(y=1,x=2))

f(1,2)= 1
f(2,1)= 2

## Implicit functions

Implicit functions are useful when we want to use a function once.

In [ ]:
f = lambda x,y: x**y
f(2,3)

8

In [ ]:
#It is possible to pass functions as arguments of other function
def f2( f, x ):
    return f(x)**2

#We can define a new function explicitly
def f(x):
    return x+2
print("Explicit: f(2)^2 =", f2(f,2))

#Or define the function implicitly
print("Implicit: f(2)^2 =", f2(lambda x:x+2,2))

Explicit: f(2)^2 = 16
Implicit: f(2)^2 = 16

Let's practice a lot! ...